@model AGL.CodingExercise.Domain.GroupedByGenderResponse
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 alert-info" style="padding: 15px;">
        <h3 class="text-center">Things I would do in a production app that are not present here due to time constraints</h3>
        <ol>
            <li><h4>Unit Tests for any core business logic</h4></li>
            <li><h4>Global exception handling filters to make sure any errors are logged</h4></li>
        </ol>
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var grouping in Model.Groupings)
        {
            <h4>@grouping.GenderOfOwner</h4>
            <ul>
                @foreach (var pet in grouping.Pets)
                {
                    <li>@pet.Name</li>
                }
            </ul>
        }
    </div>
</div>